@use "./_breakpoints" as *;



@font-face {
    font-family: 'Helvetica Neue';
    src: url('../assets/fonts/HelveticaNeue.ttc');
}

// Genneral 

html{
  
    --bs-gutter-x: 0;
    
}

a{
    text-decoration: none;
}
body{
    font-family: "Helvetica Neue";
    background: #F6F6F6;
}


// main container 
.container{
    min-height: 100vh;
    @include mobile{
        padding:0
    }
}

// landing page image

.homeImage{
    @include leptop{
        width:566px;
    }
}
.HomeImageforPc{
    @include tablet{
        display: none;
    }
}
.HomeImageforMobile{
    display: none;
    @include tablet{
        display: block;
    }
}

.imageFit{
    width:878px;
   height: 423px;

    overflow: hidden;
    border-radius: 20px;
    object-fit:cover;
    object-position: center center;

@include tablet-l{
    width: 558px;
    height: 281px;
}

    @include tablet{
        width: 358px;
        height: 181px;
    }

    img{
        width: 100%;
        height: 100%;
    }
}


//information header for pc and for mobile

.forPc{
    display: flex;
    @include tablet {
        display: none;
    }
}

.forMobile{
    display: none;
    @include tablet{
        display: flex;
    }
}


 //employee info

label{
    font-weight: bold;
    margin-bottom: 3px;
}

.css-1s2u09g-control{
height: 56px;
}

.css-1pahdxg-control{
    height: 56px;
    }

.info-wrapper{
    background-color: white;
    border-radius: 18px;
    padding: 94px 150px;
    @include leptop{
      padding: 2rem;
    }
}



//information inputs Style during success and error

input[type="file"] {
display: none;
}

.input-error{


    input{
        border: 2px solid #8AC0E2;
        border-radius: 8px;
        padding: 16px;
        height: 57px;
        outline-color:#6499FF;
    }
    span{
        font-size: 13px;
        color:#2E2E2E;
    }
    
 
}
.active{
label{
    color:#E52F2F 
}
    input{
        border: 2px solid #E52F2F;
        outline:none;
    }
    span{
        color:#E52F2F
    }
}





// for img upload Section

.upload-wrapper{
    border: 2px dashed #62A1EB;
    width: 100%;
    border-radius: 20px;
    display: flex;
    position: relative;
    flex-direction: column ;
    align-items: center;
    justify-content: space-around;
    @include tablet{
        height: 244px;
    }
}

.upload-error{
    position: absolute;
    top: 40px;
    @include tablet{
       display: none;
    }
}

.upload-text{
    max-width: 195px;
    color:#62A1EB;
    text-align: center;
margin: 100px 0px 70px;
@include tablet{
    margin: 0px 0px 40px 0px;
 }
}
.custom-file-upload{
    color: white;
    background-color:#62A1EB;
    width:233px;
    height:60px ;  
    margin: 0px 0px 123px 0px;
    @include tablet{
        margin: 0px 0px 50px 0px;
        display: none;
     }
}
.custom-file-uploadforMobile{
    display: none;
    @include tablet{
        display: block;
        margin: 40px 0 0 0 ;
        
    }
}



.line{
    height: 2px;
    margin: 44px 0;
    width: 100%;
    background: #C7C7C7;
    display: block;

    @include tablet{
         display: none;
    }
}

  // after upload your info, success page

.success-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #4A4A4A;
    display: flex;
    align-items: center;
    justify-content: center;
    
    & .success{
        background: white;
        width: 847px;
        flex-direction: column;
        height: 537px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius:10px ;
        
        @include tablet{
            width: 100%;
            height: 100%;
        }
        & .successBtn{
            width: 297px;
        }
     img{
        width: 177px;
     }
     h5{
        margin-bottom: 79px;
     }
    }
}


// detail page, paptop and user information

.detail-page-leptop-img-wrapper{
width: 577px;
height: 342px;

@include leptop-l{
    width: 507px;
    height: 302px;  
}

@include tablet{
    max-width:358px;
    max-height:191px ;
    border-radius: 10px;
    overflow: hidden;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
}

select{
    width: 100%;
    height: 60px;
    border:none;
    border-radius:10px ;
    padding: 5px;
    background-color: #EBEBEB;
    outline-color:#8AC0E2 ;
    option{
        padding: 5px;
        margin-top: 10px;
    }
}

.form-check-input {
  border:2px solid #8AC0E2
}

.error-img{
    width: 22px;
    height: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
}



//laptop card


.LeptopCard{
    margin-top:55px ;
   padding: 1rem;

    & .LeptopListImage{
        border-radius: 10px;
        max-width: 266px;
        max-height: 178px;
        object-fit: cover;
        overflow: hidden;
    }
    img{
        width: 100%;
    }
    @include tablet-l{
        margin-top:26px;
    
height: 123px;
padding: 0.5rem;

        & .LeptopListImage{
            max-width: 164px;
            border-radius: 10px;
            max-height: 109px;
            object-fit: cover;
            overflow: hidden;
        }
    }

}

.leptopList-wrapper{
    padding-bottom:4rem ;
    @include tablet-l{
    padding: 10px;
    padding-bottom:1rem ;
}
}



.RedberrLogo{
    @include tablet{
        display: none;
    }
}


.getBack{
    position: absolute;
    top: 1.5rem;
    left: 3rem;
    width: 70px;
    height: 70px;
    border: none;
    padding: 1rem;
    border-radius: 50%;
  
    img{
        width: 13px;
    }
    @include tablet{
        top: 1.7rem;
        background: none;
        left: 1rem;
        width: 45px;
    }
    img{
        width: 10px;
    }

}


//
